
.details{
    padding: 10px;
    text-align: center;
}
.details-info{
    border-top: 1px solid #cccccc;
    font: 11px Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding-top: 5px;
    text-align: left;
}
.details img{
    height: 48px;
    width: 48px;
}
.details-info b{
    color: #000;
    display: block;
    font-weight:bold;
    margin-bottom: 4px;
}

.details-info span{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

#dataview{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#dataview .thumb{
    background: transparent;
    padding: 3px;
}
#dataview .thumb img{
    height: 48px;
    width: 48px;
    margin-left:10px;
}

.list-thumb{
    height: 32px;
    width: 32px;
    margin-left:-10px;
}

#dataview .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#dataview .thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
    min-width:80px;
}
#dataview .x-view-over{
    border:1px solid #dddddd;
    background-color: #efefef;
    /*background: #efefef url('../../resources/images/default/grid/row-over.gif') repeat-x left top;*/
    padding: 4px;
}
#dataview .x-view-selected{
    background-color: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 4px;
}
#dataview .x-view-selected .thumb{
    background:transparent;
}
#dataview .x-view-selected span{
    color:#000;
    font-weight:bold;
    text-align:center;
}
#dataview .loading-indicator {
    font-size:11px;
    background-image:url('../../resources/images/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}
