<?xml version='1.0' encoding='utf-8'?>
<config>
	<router>
		<app>project/testedproj/app/</app>
		<plugins>
			<plugin>project/testedproj/plugins/</plugin>
			<plugin>project/lightprojec/plugins/</plugin>
			<plugin>project/geomobile/plugins/</plugin>
		</plugins>
		<libs>
			<lib>lib/</lib>
			<lib>project/testedproj/lib/</lib>			
		</libs>
		<request>
			<alias>
				<ins>
					<url>
						<pattern>params:name/params:age/params:sex/outFormat</pattern>
					</url>
					<key>
						<controller>TesIn</controller>
						<action>requestPrettyAlias</action>
						<params>
							<id>tusa</id>
						</params>
						<output>
							<format>json</format>
							<info>void</info>
							<option>none</option>
						</output>					
					</key>
				</ins>
			</alias>
		</request>
	</router>
	<loader>
		<cfg>
			<load>auto</load>
		</cfg>
		<filter>
			<iface>
				<module>Security</module>
				<module>Error</module>
				<tesin>Loader</tesin>
			</iface>
			<control>
				<module>Primal</module>
				<main>App</main>
				<plugin>Plugin</plugin>
			</control>
			<decorate>
				<main>TusaD</main>
				<main>MegaD</main>
			</decorate>
		</filter>
	</loader>
	<package>
		<config>
			<cfg>
				<type>object</type>
				<load>manual</load>
				<order>php</order>
				<order>xml</order>
				<order>ini</order>				
				<order>json</order>
			</cfg>
			<mod>
				<base>ConfigDriver</base>
				<proxy>Out</proxy>
				<driver>php</driver>
				<driver>json</driver>
				<driver>xml</driver>								
				<driver>ini</driver>
			</mod>
		</config>
		<front>
			<cfg>
				<load>auto</load>
				<type>object</type>
			</cfg>
			<mod>
				<base>FrontController</base>
				<control>OrdinaryFC</control>
				<proxy>ProxyFC</proxy>
			</mod>
		</front>
		<han>
			<cfg>
				<load>manual</load>
				<type>object</type>
			</cfg>
			<mod>
				<proxy>Han</proxy>
			</mod>
		</han>
		<ioc>
			<cfg>
				<load>manual</load>
				<type>object</type>
			</cfg>
			<mod>
				<base>IOCDriver</base>
				<diver>class</diver>
				<diver>object</diver>
				<diver>driver</diver>
				<diver>package</diver>
				<proxy>IOC</proxy>
			</mod>
		</ioc>
		<out>
			<cfg>
				<load>manual</load>
				<type>object</type>
			</cfg>
			<mod>
				<base>OutDriver</base>
				<diver>html</diver>
				<diver>json</diver>
				<diver>img</diver>
				<diver>xml</diver>
				<proxy>Out</proxy>
			</mod>
		</out>
	</package>
</config>
